/**
 * Spinner
 */
@keyframes islands-spin {
    from {
        border-top-color: #fc0;
        border-left-color: #fc0;

        transform: rotate(0deg);
    }
    to {
        border-top-color: #fc0;
        border-left-color: #fc0;

        transform: rotate(360deg);
    }
}

/**
 * header animation
 */
@keyframes title-show {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes title-show2 {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
