.launcher {
    position: absolute;
    top: 0;
    left: 0;

    width: 300px;
    margin: 12px 0 0 200px;

    transition: all 1s;

    opacity: 1;

    transform-style: preserve-3d;

    &__title {
        font-size: 18px;

        margin: 0 0 12px 0;
        padding-bottom: 6px;

        border-bottom: 1px solid #ddd;
    }

    &__main,
    &__back {
        position: absolute;

        transform: translateZ(1px);

        backface-visibility: hidden;

        island();
    }

    &__back {
        transform: translateZ(-1px) rotateY(-180deg);
    }

    &__footer {
        display: flex;

        justify-content: space-between;
    }

    &_rules {
        transform: rotateY(180deg);
    }
}
