body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.game {
    font: normal 14px/1.5em Helvetica Neue, Arial, sans-serif;

    position: relative;

    height: 100%;
}

#map {
    position: relative;
    z-index: 0;

    display: inline-block;
    vertical-align: top;

    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

#application {
}
